#!/usr/bin/make -f

export ORG := abi-jey
export PKG := kitchen
export PKG_VERSION := $(shell dpkg-parsechangelog --show-field Version)
export REPO_ROOT := $(shell pwd)
export DH_GOPKG := github.com/$(ORG)/$(PKG)

override_dh_dwz:
	echo "Skipping DWZ compression"

%:
	echo "$(PKG_VERSION)" > debian/version
	go mod vendor
	dh $@ --buildsystem=golang --builddirectory=_build 
